.item-in-cart{
    margin: 5px 5px;
    display: flex;
    align-items: center;
    border: 1px solid black 
}

.item-in-cart img{
    flex: 1;
}

.item-in-cart label{
    flex: 2;
}
.item-in-cart .item-info{
    flex: 4;
}
.item-in-cart button{
    margin: 5px;
}